$desktop: 1200px;
$tablet: 768px;
$mobile: 480px;

@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width: $desktop) {
        @content;
    }
}